<html lang="en">

<head>
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimal-ui" />
  <meta name="viewport" content="width=device-width">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.0/angular.min.js"></script>


</head>

<body>



  <mat-drawer-container class="example-container, autosize">
    <div class="example-sidenav-content">
      <p align="center" style="background-color: black;color:white;font-size: 40px">WPC School Management System</p>

      <button type="button" mat-button (click)="drawer.toggle()" style="color: white;background-color:black">

        <img src="../assets/img/menu.png" style="height: 20%;width:10%;" align="left">


      </button>

    </div>

    <mat-drawer #drawer class="button,auto" mode="side"
      style="background-color: black;color:white;width: auto;height: 100%;">

      <div style="width: 325px;height: fix;">
        <br>
        <h3 align=center>Main Menu</h3>
        <button class="button" style="background:#303f9f;color: white;"><span>Teacher portal</span></button> <br>
        <button class="button" style="background:#64dd17;color: white;"><span>Student portal</span></button> <br>
        <button class="button" style="background:#e65c00b7;color: white;"><span>Class portal </span></button> <br>
        <button class="button" (click)="home()" style="background:#ff9100;color: white;"><span>Fee
            portal</span></button><br>
        <button class="button" style="background:#321911;color: white;"><span>Course portal</span></button><br>
        <button class="button" style="background:#ff4081;color: white;"><span>Result portal</span></button><br>
        <button class="button" style="background:#26a69a;color: white;"><span>Report portal</span></button><br>
        <button class="button" style="background:#ab47bc;color: white;"><span> Settings</span></button><br>
        <button class="button" style="background:#d50000;color: white;"><span>Quit</span></button>

      </div>


    </mat-drawer>


    <div class="col-md-12" style="background-color:#fff3e0">


      <!-- <div class="center">
        <br>
        <h1>Fee Portal</h1>
      </div> -->
      <div class="row header-text">
        <h2 class="txt-header">
          Fee Portal
        </h2>
      </div>
      <div class="div">
        <br>
        <button class="btndialog"
          style="background-color: #7e57c2;color: white;font-size: 20px; border-radius: 6px;width: 200px; height: 60px;margin-left: 900px"
          (click)="filter()">Payment Details</button>
        <button class="btndialog"
          style="background-color: #7e57c2;color: white;font-size: 20px; border-radius: 6px;width: 200px; height: 60px;margin-left: 10px"
          (click)="openprint()">Issue a Receipt</button>
      </div>
      <br>
      <div class="col-md-8">
        <div class="row">

          <div class="col-md-6" style="background-color:#fff3e0">
            <input class="form-control serach-input" type="text" name="stext" (ngModelChange)="clear()"
              [(ngModel)]="searchvalue" placeholder="Search by Student NIC" aria-label="Search">


          </div>
          <div class="col-md-2" style="background-color:#fff3e0">
            <button mat-stroked-button color="primary"
              style="background-color: #283593;color: white;font-size: 20px;width: 100px;height: 40px;" x
              (click)="search()">Search</button>

          </div>
        </div>
        <div class="row">
          <p *ngIf="nostudent" class="no-result">No results found</p>
        </div>
      </div>


      <br>

      <div style="background-color:#fff3e0;margin: 20px 20px 20px">


        <div class="row">
          <div class="col-md-5">
            <form>
              <div class="row">
                <div class="col-25">
                  <label for="fname">First Name</label>
                </div>
                <div class="col-75">
                  <input type="text" id="fname" name="firstname" placeholder="Student name.."
                    [(ngModel)]="selectedStudent.fname" required disabled>
                </div>
              </div>
              <div class="row">
                <div class="col-25">
                  <label for="lname">Last Name</label>
                </div>
                <div class="col-75">
                  <input type="text" id="lname" name="lastname" placeholder="Student last name.."
                    [(ngModel)]="selectedStudent.lname" required disabled>
                </div>
              </div>
              <div class="row">
                <div class="col-25">
                  <label for="adrs">Address</label>
                </div>
                <div class="col-75">
                  <input type="text" id="adrs" name="address" placeholder="Student Address.."
                    [(ngModel)]="selectedStudent.address" required disabled>
                </div>
              </div>
              <div class="row">
                <div class="col-25">
                  <label for="nicno">NIC Number</label>
                </div>
                <div class="col-75">
                  <input type="text" id="nicno" name="nicnumber" placeholder="Student NIC Number.."
                    [(ngModel)]="selectedStudent.NIC" required disabled>
                </div>
              </div>
              <div class="row">
                <div class="col-25">
                  <label for="mblno">Mobile Number</label>
                </div>
                <div class="col-75">
                  <input type="text" id="mblno" name="mobileno" placeholder="Student / Parent Mobile Number.."
                    [(ngModel)]="selectedStudent.mobile" required disabled>
                </div>
              </div>

              <br>
              <div>
                <button mat-stroked-button color="primary"
                  style="background-color: #b71c1c;color: white;font-size: 20px;width: 100px;height: 40px;margin-left: 300px;">Delete</button>
                <button mat-stroked-button mat-button (click)="openDialog()" color="primary"
                  style="background-color: #2e7d32;color: white;font-size: 20px;width: 100px;height: 40px;margin-left: 10px">Update</button>

              </div>

            </form>


          </div>
          <!-- hshdhdhdhdhddhhdhdhdhdhdhddkdkdkdkdkdkdkd -->

          <div class="col-md-3" *ngIf="selectedStudent.fname!=''" id="wrapper">
            <div class="col-md-10">
              <div class="row">
                <table>
                  <tr *ngFor="let pay of selectedStudent.paymnets">
                    <td style="text-align: center;">
                      {{pay.month}}
                    </td>
                    <td style="text-align: center">
                      <input type="checkbox" [(ngModel)]="pay.paid" [disabled]="pay.paid">
                    </td>
                  </tr>
                </table>
              </div>
              <br>
              <div class="row wrapper">

                <button mat-stroked-button color="primary"
                  style="background-color: #283593;color: white;font-size: 20px;width: 100px;height: 40px"
                  (click)="save()">Save</button>
              </div>
            </div>
          </div>
          <div [ngClass]="{'col-md-7': selectedStudent.fname=='','col-md-4': selectedStudent.fname!=''}">
            <div id="chartContainer" style="height: 370px; width: 100%; background: white"></div>
          </div>

        </div>

        <div class="row">
          <div class="col-md-12">
            <br>
            <div class="row" style="margin: 10px;">
              <div class="col-sm-12" style="border-style: solid; padding: 10px;">

                <div class="row ">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th></th>
                        <th bgcolor=#dddddd>First Name</th>
                        <th bgcolor=#dddddd>Last Name</th>
                        <th bgcolor=#dddddd>Address</th>
                        <th bgcolor=#dddddd>NIC Number</th>
                        <th bgcolor=#dddddd>Mobile Number</th>
                        <th bgcolor=#dddddd>Course</th>
                        <th bgcolor=#dddddd>Course-Fee</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="student-row" *ngFor="let student of students" (click)="selectstudent(student)">
                        <td><img src="../assets/img/don.png" style="width: 50px; height:30px; align-self: auto;"></td>
                        <td>{{student.fname}}</td>
                        <td>{{student.lname}}</td>
                        <td>{{student.address}}</td>
                        <td>{{student.NIC}}</td>
                        <td>{{student.mobile}}</td>
                        <td>{{student.course}}</td>
                        <td>{{student.cfee}}</td>
                      </tr>

                    </tbody>


                  </table>
                  <div id="wrapper">
                    <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                      <mat-button-toggle *ngFor="let page of pages" type="button" (click)="selectListFromPage(page) ">
                        {{page}}</mat-button-toggle>
                    </mat-button-toggle-group>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </mat-drawer-container>

</body>

<router-outlet></router-outlet>
